body{
    /*background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;*/
    background-image: linear-gradient(rgb(80, 18, 75), rgb(148, 87, 172));
    display: flex;
    align-items: center;
}

#form{
    border-radius: 5px;
    background: whitesmoke;
    padding: 15px;


}
#form .title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
