body{
    
    background: linear-gradient(to bottom,rgb(80, 18, 75), rgb(148, 87, 172)) !important;
    min-height: 100vh;
    
}

#form{
    border-radius: 5px;
    background: whitesmoke;
    padding: 15px;
    


}
#form .title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.col-sm-6{
    margin-top : 10%;
}
